# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.log

# Ignore the Boost library
/boost_1_53_0/*

# Ignore the Pin libraries
/pin-2.12-58423-msvc10-windows/*
/pin-2.12-58423-gcc.4.4.7-linux/*
/pin-2.12-58423-clang.3.0-mac/*
*.exp

.project
.externalToolBuilders/
.cproject
.settings/
tool/obj-intel64

MemoryPINGui/Debug/*
MemoryPINGui/Release/*
MemoryPINGui/MemoryPINGui.sdf
MemoryPINGui/MemoryPINGui.suo
MemoryPINGui/MemoryPINGui/obj/*
MemoryPINGui/MemoryPINGui/bin/*
MemoryPINGui/MemoryPINPostProcessor/Debug/
MemoryPINGui/NativeProcessor/Debug/
MemoryPINGui/ipch/memorypinpostprocessor-2c59217e/memorypinpostprocessor-5a7f3392.ipch
MemoryPINGui/ipch/nativeprocessor-5feb8e00/nativeprocessor-e69b6d13.ipch
MemoryPINGui/OGDFVisuals/Debug/
MemoryPINGui/OGDFVisuals/ogdf/
MemoryPINGui/OGDFVisuals/graphviz/
MemoryPINGui/OGDFVisuals/Release/
MemoryPINGui/ipch/ogdfvisuals-3f26f1c0/ogdfvisuals-f3f29033.ipch
MemoryPINGui/ipch/ogdfvisuals-3f26f1c0/ogdfvisuals-2f7a192d.ipch
MemoryPINGui/NativeProcessor/Release/NativeProcessor.dll.intermediate.manifest
MemoryPINGui/NativeProcessor/Release/
librarydataextractor/librarydataextractor/Debug/
librarysymbolreporter_OLD/librarysymbolreporter/Debug/
librarydataextractor/Debug/librarydataextractor.idb
*.pyc
*~
*.ipch
*.sdf
