# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.log

# Ignore the Boost library
/boost_1_53_0/*

# Ignore the Pin libraries
/pin-2.12-58423-msvc10-windows/*
/pin-2.12-58423-gcc.4.4.7-linux/*
*.exp

.project
.externalToolBuilders/
.cproject
.settings/
tool/obj-intel64

MemoryPINGui/Debug/*
MemoryPINGui/Release/*
MemoryPINGui/MemoryPINGui.sdf
MemoryPINGui/MemoryPINGui.suo
MemoryPINGui/MemoryPINGui/obj/*
MemoryPINGui/MemoryPINGui/bin/*